@use '../../../styles/utils.scss' as utils;

.aboutView {
  padding: 3rem 1.5rem;
  background-color: var(--colorNegro);
  display: flex;
  justify-content: center;
  width: 100%;

  .aboutContent {
    max-width: 900px;
    width: 100%;
    text-align: left;
    color: white;

    .aboutSubtitle {
      font-size: var(--h2-size);
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 0.75rem;
      color: var(--colorAmarillo);
    }

    .aboutDescription {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 1rem;
      color: white;
    }

    .aboutList {
      list-style: disc inside;
      padding-left: 1rem;
      margin-bottom: 1.5rem;

      li {
        margin-bottom: 0.5rem;
        font-size: 1.05rem;
        line-height: 1.5;
        color: white;

        strong {
          color: var(--colorAmarillo);
        }
      }
    }
  }
}
.aboutTitle {
      font-size: var(--h1-size);
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: var(--colorAmarillo);
      @include utils.ClassStyleTitle;
      width: 100%
    }

@media (max-width: 1024px) {
  .aboutView {
    padding: 2rem 1rem;
  }
}

@media (max-width: 430px) {
  .aboutView {
    padding: 1.5rem 1rem;
    text-align: center;

    .aboutContent {
      .aboutList {
        list-style: none;
        padding-left: 0;
      }
    }
  }
}
