@use '../../../styles/utils.scss' as utils;

/* Dashboard principal */
.dashboard {
  min-height: 100vh;
  background-color: black ;
  color: #ffffff;
}

.dashboardHeader {
  padding: 1rem 2rem;
  border-bottom: 2px solid #333333;
}

.dashboardHeader h1 {
  color: var(--colorAmarillo);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.dashboardContainer {
  display: flex;
  min-height: calc(100vh - 80px);
}

.dashboardSidebar {
  width: 250px;
  padding: 2rem 0;
}

.dashboardNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboardNav li {
  margin-bottom: 0.5rem;
}

.dashboardNav button {
  width: 100%;
  padding: 1rem 2rem;
  background: transparent;
  border: none;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.3rem;
}

.dashboardNav button:hover {
  background-color: #333333;
  color:var(--colorAmarillo);
}

.dashboardNav button.active {
  background-color: var(--colorAmarillo);
  color: #000000;
  font-weight: bold;
}

.dashboardContent {
  flex: 1;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/poster13.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Tablet (≤ 1024px) */
@media (max-width: 1024px) {
  .dashboardContainer {
    flex-direction: column; /* Sidebar arriba, contenido abajo */
  }

  .dashboardSidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: none;
    border-bottom: 2px solid #333;
    padding: 1rem;
  }

  .dashboardNav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .dashboardNav button {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    text-align: center;
  }
}

/* Móvil (≤ 430px) */
@media (max-width: 430px) {
  .dashboardHeader h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .dashboardSidebar {
    padding: 0.5rem;
  }

  .dashboardNav ul {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .dashboardNav button {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
  }

  .dashboardContent {
    padding: 1rem; /* menos espacio en móvil */
  }
}
