/* ===== Layout general ===== */
.coach-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: sans-serif;
  background: black;
  margin-bottom: 2px;
}

/* ===== Sidebar ===== */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--colorAmarillo);
  color: black;
  padding: 2rem 1rem;
  flex-shrink: 0;
}

.sidebar-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.user-info {
  margin-bottom: 5rem;
  margin-top: 2px;
}

.user-name {
  font-weight: bold;
  font-size: 1rem;
  color: #111;
}

.user-email {
  font-size: 0.9rem;
  color: #444;
}

/* ===== Navegación ===== */
.nav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.nav a {
  display: block;
  padding: 0.6rem 1rem;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

/* Hover */
.nav a:hover {
  background-color: #000;
  color: #facc15;
  transform: translateX(5px);
}

/* Activo */
.nav a.active {
  background-color: white;  /* fondo negro */
  color: #facc15;          /* texto amarillo */
  font-weight: bold;
  border-left: 4px solid #facc15; /* borde amarillo */
}

/* ===== Contenido principal ===== */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* ===== Trainer Wrapper ===== */
.trainer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

/* ===== Tarjeta del entrenador ===== */
.trainer-card {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 0.7rem;
  box-shadow: 0 10px 25px rgba(255, 223, 0, 0.2);

  max-width: 450px;
  width: 100%;
  text-align: center;
}

.trainer-card h2 {
  margin-bottom: 1rem;
  color: #facc15;
}

.trainer-card p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
}

.trainer-card span {
  font-weight: bold;
  color: #e5e5e5;
}

.loading-card {
  text-align: center;
}
